body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #FBF6F0;
}

#heading
{
    font-weight: bold;
    background-color: #FFDA77;
    padding: 10px;
    width: 800px;
    border-radius: 20px;
    border: 3px solid #FFA45B;
    color: white;
}

img
{
    width: 300px;
    height: 300px;
    border: 3px solid #FFA45B;
    border-radius: 20px;
}

.text_image_and_results
{
    background-color: #AEE6E6;
    width: 1285px;
    padding: 20px;
    border-radius: 15px
}

h3
{
    color: #FBF6F0;
}

#copyright
{
    background-color: #FFDA77;
    color: black;
    width: 100%;
    bottom: 0;
    position: fixed;
    margin-top: 200px;
    font-weight: bolder;
}